@using Syncfusion.Blazor.Spinner

<div class="badge rounded-pill bg-secondary d-block col-6">
    <div class="d-flex align-items-center justify-content-center border-1">
        <LabelBase Text="@($"Lade {Value}")" />
        <div class="spinner-border spinner-border-sm ms-1" role="status" aria-hidden="true"></div>
    </div>
</div>
