@using System.Collections
<Condition Evaluation="@(this.ValidationErrors != null)">
    <Match>
        <StateEvaluation State="@this.state">
            <Content>
                <ul class="flonke">
                    <Iterations Items="@this.validationDictionary">
                        <li>@($"{context.Key}: {context.Value}")</li>
                    </Iterations>
                </ul>
            </Content>
        </StateEvaluation>
    </Match>
</Condition>
