@using Parlivote.Shared.Models.Identity
<AuthorizeView>
    <Authorized>
        <Condition Evaluation="(context.User.IsInRole(Roles.CHAIR) || context.User.IsInRole(Roles.PARLIAMENTARIAN))">
            <Match>
                <div class="px-4">
                    <AttendanceComponent/>
                </div>
            </Match>
        </Condition>

        <p class="m-0">Hallo, @context.User.Identity.Name!</p>
        <button class="nav-link btn btn-link" @onclick="LogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
