@page "/"
@using Parlivote.Shared.Models.Identity
@using System.Security.Claims
<div class="text-center">
    <h2>Willkommen bei Parlivote</h2>
    <h4>- dem Abstimmungssystem für das StuPa der FH Kiel -</h4>
    <hr />
</div>
<AuthorizeView>
    <Authorized>
    </Authorized>
    <NotAuthorized>
        <h5 class="text-center">Bitte <a href="/Identity/Account/Login">melden Sie sich an</a>, um das System zu nutzen!</h5>
    </NotAuthorized>
</AuthorizeView>