@page "/"
@using Parlivote.Shared.Models.Identity

<h2>Parlivote</h2>
<AuthorizeView>
    <Authorized>
        <h4>Welcome @context.User.Identity.Name</h4>
    </Authorized>
    <NotAuthorized>
        <h4>Please <a href="/Identity/Account/Login">Login</a></h4>
    </NotAuthorized>
</AuthorizeView>