@using PrettyBlazor
<div class="d-flex flex-row justify-content-center align-items-center w-100">
    
    <Condition Evaluation="activeMotion != null">
        <Match>
            <Condition Evaluation="hasUserVoted">
                <Match>
                    <h3>Danke für die Abstimmung</h3>
                </Match>
                <NotMatch>
                    <VoteComponent ActiveMotion="activeMotion" AfterVoted="SetVoted"/>
                </NotMatch>
            </Condition>
            
        </Match>
    </Condition>

</div>