
<StateEvaluation State="@this.state">
    <Loading>
        <p>Lade....</p>
    </Loading>

    <Content>
        <h4>Beschlüsse</h4>
        <ListGroup>
            <Iterations Items="@this.Motions">
                <MotionListItem Motion="@context" OnMotionChanged="OnMotionsChanged"/>
            </Iterations>
        </ListGroup>
    </Content>
    
    <Error>
        <div class="alert alert-danger">
            @error
        </div>
    </Error>
</StateEvaluation>
