
<StateEvaluation State="@this.state">
    <Loading>
        <p>Loading....</p>
    </Loading>

    <Content>
        <ul>
            <Iterations Items="polls">
                <li>
                    @($"{context.AgendaItem}: {context.Text}")
                </li>
            </Iterations>
        </ul>
    </Content>
    
    <Error>
        <div class="alert alert-danger">
            @error
        </div>
    </Error>
</StateEvaluation>
