<AccordionItem>
    <Header>
        <h5 class="d-flex flex-row mb-0">
            <b>@Meeting.Description</b>
            <span class="ms-2">(@Meeting.Start.ToString("dddd dd.MM.yy HH:mm"))</span>
        </h5>
    </Header>

    <Body>
        
    </Body>

</AccordionItem>