<div class="d-flex flex-row my-3">
    <h3 class="me-4">Meetings </h3>
    <ButtonBase Text="Add Meeting" OnClick="@(() => addMeetingComponent.Show())" />
</div>

<StateEvaluation State="@this.state">
    <Loading>
        <p>Loading....</p>
    </Loading>

    <Content>
        <ul>
            <Iterations Items="meetings">
                <li>
                    @($"{context.Start.ToString("ddddd dd.MM.yy HH:mm")}: {context.Description}")
                </li>
            </Iterations>
        </ul>
    </Content>
    
    <Error>
        <div class="alert alert-danger">
            @error
        </div>
    </Error>
</StateEvaluation>

<AddMeetingComponent @ref="addMeetingComponent" OnMeetingAdded="LoadMeetings" />